.fondo{
  margin-top: -7px;
}
.navbar {
  margin-top: 0em;
  margin-left: 0px;
  height: 54px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0e144c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -20px;
  box-sizing: border-box;
}
 .navbar .reset {
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;
  border-radius: 10px;
}


.navbar .pageInicial{
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;
  border-radius: 10px;

}

.navbar .crearGame{
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;
  border-radius: 10px;

}
.navbar .selectorAlf{
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;
}
.navbar .selectorRat{
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;


}
.navbar .filtroGenres{
  background-color: #0a0f3c;
  color: #e4e3e9;
  font-size: 15px;

}

  .key {
    width: 20%;
    border: solid #999999 0em;
    border-radius: 1em;
  }
  .img {
    width: 100%;
    object-fit: cover;
    height: 45%;
  }
  .buscarDetalle{
    text-align: center;
    position: relative;
    right: -2px;
    bottom: 53px;
    color:antiquewhite;
    font-size: 15px;
  
  }
  .noEncontrado{
    color:#e4e3e9;
    text-align: center;
  }
  

 