.cardGeneral{
  margin-top: 20px;

}
.container{
  width: 100%;
    max-width: 1200px;
    height: 267px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.title {
  text-align: center;
  color: #f5f3f3;
  margin-top: 5px;
}
.container .card {
    width: 257px;
    height: 276px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    overflow: hidden;
    margin: 5px;
    text-align: center;
    transition: all 0.25s;
}


container .card img{
  width: 330px;
  height: 220px;
}
.container .card h4{
  font-weight: 600;
  color: #f1eeee;
  display: block;
}

